* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------------CSS in index.html, beginning----------------------*/
body {
    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px auto 0px auto;
}


/* Header CSS */
header {
    display: block;
    width: 75%;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.subscribe {
    color: rgb(160, 157, 157);
}

.title {
    color: rgb(55, 53, 53);
    font-size: 30px;
    text-decoration: underline;
    position: relative;
    bottom: 10px;
}

.search-box {
    color: rgb(160, 157, 157);
}


/* Section CSS */

.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left-side {
    border: thin solid rgb(230, 230, 230);
    margin-bottom: 15px;
    width: 365px;
    height: 200px;
    padding: 25px;
    margin: 20px 15px;
}

.right-side {
    border: thick solid rgb(230, 230, 230);
    margin-bottom: 15px;
    width: 365px;
    height: 200px;
    padding: 25px;
    margin: 20px 15px;
}

.left-side .blog-classify {
    font-size: 14px;
    color: rgb(24, 136, 241);
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.right-side .blog-classify {
    font-size: 14px;
    color: rgb(44, 203, 129);
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.blog-title {
    font-size: 20px;
    color: rgb(0, 9, 15);
    font-family: Noto Sans, sans-serif;
    font-weight: bold;
}

.blog-time {
    font-size: 14px;
    color: grey;
    margin: 3px 0px 10px 0px;
}

.blog-description {
    font-size: 13px;
    color: rgb(39, 38, 38);
    margin: 0px 0px 30px 0px;
    word-spacing: 1.2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
}

.blog-continue-reading a {
    font-size: 16px;
    color: rgba(80, 80, 238, 0.808);
    text-decoration: underline;
}

.right-side .blog-continue-reading a {
    position: relative;
    bottom: 20px;
}

/* Footer CSS */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 75%;
    height: 100px;
    background-color: rgba(252, 236, 252, 0.692);
    color: gray;
    line-height: 32px;
}

footer p a {
    color: rgb(32, 79, 235);
}

footer #see-design-system {
    color: rgb(32, 79, 235);
    text-decoration: underline;
}

/* ---------------------------CSS in index.html, End---------------------------*/