.title {
  text-align: center;
}

.main-content {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.form-group {
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0.5em;
}

.form-row > label {
  padding: 0.5em 1em 0.5em 0;
  flex: 1;
}

.form-row > input {
  flex: 2;
}

.form-row > input,
.form-row > button {
  padding: 0.5em;
  margin-right: 1rem;
}

.form-row > button {
  border: none;
  border-radius: 4px;
  color: white;
  flex: 0.5;
}

.special-word {
  background-color: dodgerblue;
  border-radius: 5px;
  color: white;
  padding: 3px;
}

.btn-blue {
  background-color: dodgerblue;
}

.btn-green {
  background-color: forestgreen;
}
