.post-card-container{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  margin:0.4em 1.7em;

}
.post-card-container > section{
 margin:0.5em 0.3em;

}
.post-design, .post-world{
  max-width: 48%;
  height: auto;
  flex: 50%;
  box-sizing: border-box;
  border: 5px solid lightgray;
  padding:0 2em 2em 2em;

}
.post-design > h2, .post-world > h2{
  margin:0;
}
.post-card-container span{
  color:gray;
}
.post-card-container  a{
  color: lightblue;
  margin-bottom: 2em;
}
.post-design > h3{
  color:green;
}
.post-world > h3{
  color:blue;
}