section{
    background-color: rgb(255, 230, 0);
    width: 15rem;
    height: 10rem;
    border: 1px solid green;
    white-space: normal;
    margin: 0px;
}
section > h3, p,a{
    
    margin-left: 1rem;
}
/* section > p{
    margin-left: 1rem;
} */