a {
  color: rgb(93, 178, 230);
}

header {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgb(235, 235, 235);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 910px;
  width: 90%;
  padding: 0 5%;
}

.header__link {
  color: rgb(183, 183, 183);
}

.header__title {
  font-size: 40px;
  font-weight: 600;
  color: rgb(77, 77, 77);
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
}

.header__title > a {
  color: rgb(77, 77, 77);
}

.header__search {
  color: rgb(183, 183, 183);
  font-size: 20px;
  width: 60px;
  text-align: end;
}
