.header {
	position: relative;
	width: 100%;
	background-color: black;
	color: white;
	height: 50px;
	line-height: 50px;
}

.header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header li {
	display: inline;
}

.header li a {
	margin: 0;
	padding: 0 10px;
}
