/* Main body Styling */

.blog-post--container {
  display: flex;
  margin: 0 120px 0 120px;
  justify-content: center;
}
.blog-post--content {
  width: 65%;
  margin-right: 60px;
  text-align: justify;
}
.blog-post--links {
  width: 35%;
}

/* Uniform Styles */

.blog-post--container p,
.blog-post--container a,
.blog-post--container li {
  font-size: 14px;
}
.blog-post--container h1,
.blog-post--container h2,
.blog-post--container h3 {
  font-family: "Merriweather", serif;
}
.blog-post--container a {
  color: rgb(8, 154, 252);
}
.blog-post--container h1 {
  font-size: 30px;
}
.blog-post--container h3 {
  font-size: 20px;
}
/* Blog-post Content Styling */
.blog-post--content .blog-post--header {
  margin-bottom: 30px;
}

.blog-post--content .blog-post--header p {
  color: rgb(158, 158, 158);
}
.blog-post--article p,
.blog-post--links p {
  margin: 10px 0 20px 0;
}
.blog-post--article .blog-post--subtitle {
  border-bottom: 1px solid rgb(228, 225, 225);
  padding-bottom: 20px;
}
.blog-post--article .blog-post--article__box,
.blog-post--article .blog-post--article__code {
  border: 1px solid rgb(202, 202, 202);
  padding: 0 15px 15px 1px;
  box-shadow: 1px 1px 2px rgb(231, 231, 231);
  border-radius: 4px;
}
.blog-post--article .blog-post--article__code {
  padding: 0;
}
.blog-post--article .blog-post--article__code {
  font-size: 16px;
  font-family: monospace;
}
.blog-post--article ul,
.blog-post--article ol {
  margin-left: 35px;
}
/* Button Styling */
.blog-post--buttons {
  margin: 55px 0;
}

.blog-post--buttons .btn {
  font-size: 14px;
  padding: 7px 10px;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
}
.blog-post--buttons .btn-active {
  border: 1px solid rgb(8, 154, 252);
  color: rgb(8, 154, 252);
}
.blog-post--buttons .btn-inactive {
  border: 1px solid rgb(184, 184, 184);
  color: rgb(184, 184, 184);
}

/* Links Section Styling */

.blog-post--links h3 {
  font-style: italic;
}
.blog-post--links__about {
  background-color: rgba(225, 226, 226, 0.349);
  padding: 15px 15px 5px 15px;
  border-radius: 3px;
  margin-bottom: 40px;
}
.blog-post--links__archives h3,
.blog-post--links__social h3 {
  padding: 15px 15px 5px 15px;
}
.blog-post--links__archives ul,
.blog-post--links__social ul {
  padding: 8px 15px 25px 15px;
  list-style-type: none;
}
