.header {
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
    /* transition: all 1.5s ease; */
    /* background-color: lightblue; */
}



/* .header a {
    color: rgb(221, 54, 3);

} */


@media (max-width: 600px) {    
    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 5%;
        /* background-color: lightblue; */
    }
}

