.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-1-3 {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
}

.col-1-2 {
  display: flex;
  flex-direction: column;
  width: 50%
}

.col-2-3 {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 * 2);
}

.justify-center {
  display: flex;
  justify-content: center;
}

/* .justify-end {
  display: flex;
  justify-content: flex-end;
} */

.align-end {
  display: flex;
  align-items: flex-end;
}

.text-align-center {
  text-align: center;
}

.justify-space-evenly {
  display: flex;
  justify-content: space-evenly;
}
