header {
  margin-bottom: 1rem;
}

.subscribe-link {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  margin-left: 1.5rem;
}

.blog-title-header {
  text-decoration: underline;
}

.search-icon {
  color: grey;
  margin-right: 1.5rem;
}

.blog-card-left,
.blog-card-right {
  border: 5px solid rgba(0, 0, 0, .1);
  padding-left: 1rem;
  margin-bottom: 3rem;
}

.blog-card-left {
  margin-right: 1rem;
}

.blog-card-right {
  margin-left: 1rem;
}

.blog-world {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 140, 255);
  margin-bottom: 0;
}

.blog-design {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(10, 170, 10);
  margin-bottom: 0;
}

.blog-title {
  margin-bottom: 0;
}

.blog-date {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: grey;
}

.blog-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
}

.blog-continue {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  background-color: rgba(0, 0, 0, .1);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.sample-blog-header {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

.sample-blog-date {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: grey;
  margin-top: 0;
}

.sample-blog-text {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 1rem;
}

.border-around {
  border: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 1rem;
}

.sample-blog-heading {
  font-size: 2rem;
  margin-bottom: 0;
}

.sample-blog-sub-heading {
  margin-bottom: 0;
}

.code-block {
  border: 1px solid rgba(0, 0, 0, .1);
}

.button-row {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.older-button {
  color: rgb(20, 110, 170);
  border: 1px solid rgb(20, 110, 170);
  background-color: white;
  border-radius: 20px;
  width: 5rem;
  height: 2rem;
}

.newer-button {
  color: rgba(0, 0, 0, .5);
  border: 1px solid rgba(0, 0, 0, .5);
  background-color: white;
  border-radius: 20px;
  width: 6rem;
  height: 2rem;
  margin-left: .5rem;
}

.about {
  background-color: rgba(0, 0, 0, .1);
  padding: 0 2rem 2rem 2rem;
}

.archives {
  padding-left: 2rem;
  margin-top: 1rem;
}

.archives-heading,
.elsewhere-heading {
  margin-bottom: 0.5rem;
}

.elsewhere {
  padding-left: 2rem;
  margin-top: 1rem;
}

.padding-left-2 {
  padding-left: 2rem;
}

a {
  font-family: Arial, Helvetica, sans-serif;
}
