* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar styling */

nav {
  background-color: #000;
  padding: 16px 16px 16px 0;
}
.navbar {
  display: flex;
  margin-left: 12%;
}
.navbar a,
footer a {
  color: white;
  font-size: 14px;
  padding-right: 30px;
}
nav ul,
footer ul {
  display: flex;
  list-style-type: none;
}
/* header styling */

.header {
  background-color: #c6bfbf;
  padding: 24px 0 24px 0;
}
.header-section {
  margin: 0 12% 0 12%;
}
.header-section h1 {
  padding-bottom: 20px;
}
.header-section a {
  text-decoration: underline;
}

/* body-section styling */

.main-body {
  display: flex;
  margin: 10px 12% 100px 12%;
}
.main-body .col {
  margin: 0 30px 30px 0;
}
.main-body .col p {
  text-align: left;
}

/* footer styling */

footer {
  display: flex;
  background-color: #0b4d14;
  padding: 16px 12% 16px 12%;
  justify-content: space-between;
}
