.album-container {
    width: 100%;
    display: flex;
    flex: wrap;
    justify-content: center;
  }
  
  .album-wrap {
    margin: 20px;
    padding: 8px 2px;
    border: 2px soild lightgray;
    background-color: #f0eeee;
    width: 120px;
    height: 200px;
    justify-content: center;
  }
  