@media screen and (max-width: 900px) {
    .container__content-container--grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .main {
        margin-bottom: 0px;
    }
    .right-side-bar {
        margin-top: 0px;
    }
}
@media screen and (max-width: 480px) {
    .container__content-container--grid {
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }
    .nav__title--fontsize {
        font-size: 2rem;
    }
}