html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  color: rgb(93, 178, 230);
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  justify-content: space-between;
}

.header-link {
  color: rgb(183, 183, 183);
}

.header-title {
  font-size: 40px;
  font-weight: 600;
  color: rgb(77, 77, 77);
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
}

.header-search {
  color: rgb(183, 183, 183);
  font-size: 20px;
  width: 60px;
  text-align: end;
}

main {
  margin-top: 60px;
  padding: 20px 5%;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.posts-section-card {
  border: 1px solid lightgray;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.card-category-world {
  color: rgb(34, 158, 235);
  font-weight: 700;
}

.card-category-design {
  color: rgb(52, 184, 52);
  font-weight: 700;
}

.card-title {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

.card-date {
  color: rgb(177, 177, 177);
}

.card-description {
  flex-grow: 1;
  color: rgb(87, 87, 87);
}

footer {
  background-color: rgb(246, 246, 246);
  color: darkgray;
  padding: 50px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid rgb(235, 235, 235);
}

.footer-bootstrap-div {
  margin-bottom: 20px;
}
