.luvtalk-project, .personal-website-project, .strike-zone-project {
    height: 700px;
}

.luvtalk-project h3 {
    padding-top: 250px;;
    font-size: 25px;
}

.luvtalk-project p {
    font-size: 18px;
}

.personal-website-project h3 {
    padding-top: 250px;;
    font-size: 25px;
}

.personal-website-project p {
    font-size: 18px;
}

.strike-zone-project h3 {
    padding-top: 250px;;
    font-size: 25px;
}

.strike-zone-project p {
    font-size: 18px;
}