.header {
    display: flex;
    position: relative;
    align-items: center;
    height: 100px;
}

.header i{
    color: #bbbbbb;
    position: absolute;
    right: 20%;
}

.header h1{
    position: absolute;
    text-decoration: underline;
    left: 46%;
}

.header a{
    color: #bbbbbb;
    position: absolute;
    left: 20%;
}
