body {
  background: #fbfbfb;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond,
    "Times New Roman", serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  font-size: 16px;
  color: #777;
}

button {
  background: none;
}

footer {
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  height: 10rem;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.1rem;
  text-align: center;
  background: rgba(180, 162, 171, 0.14);
  color: rgb(48, 47, 47);
}

footer p {
  padding: 3rem;
}

.container {
  width: 80%;
}

.row {
  padding: 50px 0;
}

.separator {
  margin-bottom: 30px;
  width: 105px;
  height: 3px;
  background: #777;
  border: none;
}

.title {
  text-align: center;
}
.title .row {
  padding: 50px 0 0;
}
.title h1 {
  text-transform: uppercase;
}
.title .separator {
  margin: 0 auto 10px;
}

.item {
  position: relative;
  margin-bottom: 30px;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.item .item-in {
  background: #fff;
  padding: 40px;
  position: relative;
}
.item .item-in:hover:before {
  width: 100%;
}
.item .item-in::before {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 0%;
  background: #f4c0c0;
  right: 0px;
  transition: width 0.4s;
}

.item h4 {
  font-size: 18px;
  margin-top: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.item p {
  font-size: 12px;
}
.item a {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  text-transform: uppercase;
  color: #666666;
  margin-top: 10px;
}
.item a i {
  opacity: 0;
  padding-left: 0px;
  transition: 0.4s;
  font-size: 24px;
  display: inline-block;
  top: 5px;
  position: relative;
}
.item a:hover {
  text-decoration: none;
}
.item a:hover i {
  padding-left: 10px;
  opacity: 1;
  font-weight: 300;
}

.item .icon {
  position: absolute;
  top: 27px;
  left: -16px;
  cursor: pointer;
}
.item .icon a {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  text-transform: none;
}
.item .icon svg {
  width: 32px;
  height: 32px;
  float: left;
}
.item .icon .icon-topic {
  opacity: 0;
  padding-left: 0px;
  transition: 0.4s;
  display: inline-block;
  top: 0px;
  position: relative;
}
.item .icon:hover .icon-topic {
  opacity: 1;
  padding-left: 10px;
  color: #2c3745;
}

.item-date {
  color: #7b7992;
  margin-bottom: 15px;
  margin-left: 3px;
  display: block;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .item .icon {
    position: relative;
    top: 0;
    left: 0;
  }
}

.bg-svg {
  width: 100%;
  background-image: url(./icosaedre.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 92%;
}

.nav-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  justify-content: space-between;
  align-content: baseline;
}

.nav-item {
  align-self: flex-end;
  justify-self: center;
  padding-bottom: 0.7rem;
}

.search-container {
  align-self: flex-end;
  justify-self: center;
  width: 35px;
  height: 35px;
}

.search-svg {
  width: 100%;
  background-image: url(./search-svgrepo-com.svg);
  background-size: cover;
  height: 50px;
  padding: 0; /* reset */
  padding-bottom: 92%;
}
