.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-wrapper {
    margin: 20px;
    padding: 8px 0;
    border: 1px solid rgb(131, 178, 231);
    background-color: white;
    width: 120px;
    height: 200px;
    display: flex;
    justify-content: center;
  }
  
  .card-wrapper:hover {
    border: 1px solid rgb(62, 62, 158);
  }
  .card {
    text-align: center;
  }
  