@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&family=Roboto&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
/* font-family: 'Merriweather', serif; */

/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* navbar styling */

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 80px 120px 30px 120px;
  align-items: center;
}
.navbar-container h1 {
  font-family: "Merriweather", serif;
  font-size: 28px;
  font-weight: 700;
  text-decoration: underline;
}
.navbar-container a,
.navbar-container i {
  color: grey;
  font-size: 14px;
}
/* main body styling */
.blog-container {
  display: flex;
  margin: 0 120px 0 120px;
  justify-content: center;
}
.blog-card {
  width: 350px;
  height: 200px;
  margin-bottom: 30px;
  padding: 20px 20px 0 20px;
  border: 5px solid rgb(231, 231, 231);
  /* box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.2); */
}
.blog-card:hover {
  border: 1px solid rgb(231, 231, 231);
}
.blog-card .blog-card--header h3 {
  font-size: 14px;
  margin-bottom: 10px;
}
.blog-card .blog-card--header h1 {
  font-family: "Merriweather", serif;
}
.blog-card p,
.blog-card a {
  font-size: 12px;
}
.blog-card .blog-card--header .blog-date {
  color: grey;
  margin-bottom: 8px;
}
.blog-card .blog-card--description a {
  color: rgb(8, 154, 252);
}
.blog-card .blog-card--description p {
  height: 60px;
}
.left-side-blogs,
.right-side-blogs {
  display: flex;
  flex-direction: column;

  /* justify-content: flex-start; */
}
.left-side-blogs {
  margin-right: 40px;
}

.left-side-blogs .blog-card--header h3 {
  color: rgb(26, 124, 252);
}
.right-side-blogs .blog-card--header h3 {
  color: rgb(1, 211, 54);
}

/* footer styling */
.blog-footer {
  text-align: center;
  padding: 30px;
  background-color: rgb(236, 236, 236);
  border-top: 1px solid rgb(214, 214, 214);
}
footer p,
footer a {
  font-size: 12px;
}
footer p {
  color: grey;
}
.blog-footer a {
  color: rgb(8, 154, 252);
}

/* responsive */

@media (max-width: 745px) {
  .navbar-container {
    margin: 80px 60px 30px 60px;
  }
  .blog-container {
    /* flex-direction: column; */
    margin: 0 60px 0 60px;
  }
  .left-side-blogs,
  .right-side-blogs {
    /* justify-content: center; */
  }
  .blog-card {
    width: 290px;
  }
}
@media (max-width: 670px) {
.blog-container {
    flex-direction: column;
}
.blog-card {
    width: 350px;
  }
}

@media (max-width: 480px) {
    .blog-card {
        width: 350px;
      }
}