@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&family=Roboto&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
/* font-family: 'Merriweather', serif; */

/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* navbar styling */

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 80px 120px 25px 120px;
  align-items: center;
  border: none;
  box-shadow: 3px 2px 8px rgba(114, 113, 113, 0.2);
}
.navbar-container h1 {
  font-family: "Merriweather", serif;
  font-size: 28px;
  font-weight: 700;
  text-decoration: underline;
}
.navbar-container a,
.navbar-container i {
  color: grey;
}
.navbar-container a {
  font-size: 14px;
}
.navbar-container i {
  font-size: 20px;
  /* transform: translateX(-27px); */
  cursor: pointer;
}
.navbar-container .search-field input {
  width: 240px;
  height: 25px;
  border: 1px solid rgb(196, 195, 195);
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.navbar-container .search-field input:focus {
  box-shadow: 0 0 5px hsl(209, 93%, 89%);
}
/* main body styling */
.blog-container {
  display: flex;
  margin: 0 120px 0 120px;
  justify-content: center;
}
.blog-card {
  width: 350px;
  height: 200px;
  margin-bottom: 30px;
  padding: 20px 20px 0 20px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 6px;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.2);
}
.blog-card:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.blog-card .card-content:hover {
  transform: scale(1.03);
}
.blog-card .blog-card--header h3 {
  font-size: 14px;
  margin-bottom: 10px;
}
.blog-card .blog-card--header a {
  text-decoration: none;
}
.blog-card .blog-card--header h1 {
  font-family: "Merriweather", serif;
  font-size: 24px;
  color: black;
}
.blog-card p,
.blog-card a {
  font-size: 12px;
}
.blog-card .blog-card--header .blog-date {
  color: grey;
  margin-bottom: 8px;
}
.blog-card .blog-card--description a {
  color: rgb(8, 154, 252);
}
.blog-card .blog-card--description p {
  height: 60px;
}
.left-side-blogs,
.right-side-blogs {
  display: flex;
  flex-direction: column;

  /* justify-content: flex-start; */
}
.left-side-blogs {
  margin-right: 40px;
}

.left-side-blogs .blog-card--header h3 {
  color: rgb(26, 124, 252);
}
.right-side-blogs .blog-card--header h3 {
  color: rgb(1, 211, 54);
}

/* footer styling */
.blog-footer {
  text-align: center;
  width: 100%;
  padding: 30px;
  bottom: 0px;
  background-color: rgb(236, 236, 236);
  border-top: 1px solid rgb(214, 214, 214);
}
footer p,
footer a {
  font-size: 12px;
}
footer p {
  color: grey;
}
.blog-footer a {
  color: rgb(8, 154, 252);
}

/* responsive */

@media (max-width: 745px) {
  .navbar-container {
    padding: 80px 40px 20px 40px;
  }
  .navbar-container .search-field input {
    width: 200px;
  }
  .blog-container {
    /* flex-direction: column; */
    margin: 0 60px 0 60px;
  }
  .blog-card {
    width: 290px;
  }
}
@media (max-width: 670px) {
  .blog-container {
    flex-direction: column;
  }
  .navbar-container .search-field input {
    display: none;
  }
  .navbar-container i {
    font-size: 16px;
  }
  .blog-card {
    width: 380px;
  }
}
