@import "header.css";
@import "aside.css";
@import "footer.css";

* {
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto;
}

.blogTitle {
  font-size: 38px;
  padding-bottom: 1vh;
}

.blogInfo {
  color: rgb(187, 180, 180);
}

.blogDesc {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.mainArticle {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/3;
  flex-wrap: wrap;
  margin-left: 25vw;
  margin-right: 3vw;
  margin-top: 2vh;
  margin-bottom: 10vh;
}

.articlePara {
  padding-top: 10px;
  padding-bottom: 10px;
}

.articleBullet,
.articleNumber {
  padding-left: 3vw;
}

.pBox {
  border: 1px solid gray;
  padding: 0.2rem;
}

#codeExample {
  font-family: "Lucida Sans Unicode";
}

.buttonOlder {
  background-color: white;
  font-size: 20px;
  border-radius: 15px;
  padding: 5px;
  color: rgb(82, 82, 194);
  border-color: rgb(82, 82, 194);
  margin-right: 0.5vw;
}

.buttonOlder:hover {
  color: white;
  background-color: rgb(82, 82, 194);
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}

.buttonNewer {
  background-color: white;
  font-size: 20px;
  border-radius: 15px;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  color: gray;
  border-color: gray;
}

.buttonNewer:hover {
  color: white;
  background-color: gray;
}
