@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,700&family=Open+Sans:wght@500&display=swap");

a {
  color: #1597e5;
}

p,
span {
  line-height: 1.75;
}

h2 {
  margin-bottom: 1rem;
}
.content-container {
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: auto;
}
.left-side,
.right-side,
.about-container {
  display: flex;
  flex-direction: column;
}

.left-side {
  width: 73%;
}

.right-side {
  width: 28%;
}

.about-container {
  background-color: #f4f9f9;
}
.about-container,
.archives-container,
.elsewhere-container,
.content-topic,
.blog-content,
.blog-heading,
.blog-subheading {
  padding: 1rem;
}

.about-container p {
  font-size: 1rem;
}

.right-side h2 {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}

.archives-container {
  margin-top: 2rem;
}

.archives-container li,
.elsewhere-container li {
  margin: 0.5rem 0;
}

.content-topic {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid silver;
}

.content-creation_time,
.content-breif_intro {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.blog-content {
  display: flex;
  flex-direction: column;
}

.blog-paragraph {
  margin: 1rem 0;
}

.blog-paragraph-important {
  padding: 0.25rem 0 1rem;
}

.blog-paragraph-important span,
.blog-subheading-example {
  font-weight: bold;
}

.blog-heading-title {
  font-size: 2.25rem;
}

.blog-subheading-example,
.blog-paragraph-important {
  border: 1px grey solid;
}

.blog-subheading-example,
.button {
  font-family: "Open Sans", sans-serif;
}

.blog-subheading-example {
  margin: 1rem 0;
}

.blog-subheading-list {
  margin-left: 2rem;
  list-style: initial;
}

ol li {
  list-style: decimal;
}

li {
  margin: 0.5rem 0;
}

.button-container {
  display: flex;
  padding: 2rem 0;
  width: 30%;
  justify-content: space-between;
  margin-left: 1rem;
}

.button {
  text-decoration: none;
  padding: 0.75rem 0.75rem;
  border: 2px solid grey;
  color: grey;
  font-weight: bold;
  border-radius: 45px;
}

.button-active {
  border-color: #1597e5;
  color: #1597e5;
}

.footer {
  width: 86%;
  height: 7rem;
  margin: 2rem auto 1rem;
}

.footer span {
  margin: 0;
}
