* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  width: 500px;
  margin: 0 auto;
}

h1 {
  margin-left: 170px;
}

#innerWrapper {
  margin: 0px 50px;
}

#fname {
  margin-right: 10px;
  padding: 8px;
  width: 48%;
  border-radius: 5px;
  border: 1px solid rgb(214, 210, 210);
}

#lname {
  width: 48%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(214, 210, 210);
}

#phone,
#email {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(214, 210, 210);
}

#password {
  margin-top: 10px;
  margin-right: 10px;
  padding: 8px;
  width: 48%;
  border-radius: 5px;
  border: 1px solid rgb(214, 210, 210);
}

#confirmPassword {
  width: 48%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(214, 210, 210);
}

input:focus {
  box-shadow: 0 0 4px rgb(100, 199, 245);
}

#notice {
  margin-top: 10px;
}

#left {
  float: left;
  display: inline;
  margin-right: 40px;
}

#right {
  float: left;
  display: inline;
  width: 65%;
}

#agree {
  margin-left: 33px;
  margin-top: 19px;
}

label[for="agree"] {
  font-weight: bold;
  font-size: 4px;
}

#agreeContent {
  font-size: 0.5px;
}

#smallRegister {
  border-radius: 5px;
  border: 0px;
  background-color: rgb(38, 138, 231);
  color: white;
  padding: 1px 3px;
  font-size: bold;
}

#terms {
  text-decoration: none;
  color: rgb(111, 204, 247);
}

#register {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 48%;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(38, 138, 231);
  color: white;
  font-size: bold;
}

#signin {
  width: 48%;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(79, 194, 63);
  color: white;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  #wrapper {
    width: 350px;
    margin: 0 auto;
  }
  h1 {
    margin-left: 110px;
    margin-bottom: 5px;
  }

  #fname,
  #lname,
  #phone,
  #email,
  #password,
  #confirmPassword,
  #register,
  #signin {
    width: 100%;
  }

  #lname,
  #confirmPassword,
  #signin {
    margin-top: 10px;
  }

  #left {
    float: unset;
    display: block;
    margin-right: 40px;
    width: 100%;
    margin-left: 20px;
  }

  #agree {
    margin-left: 33px;
    margin-top: 0px;
  }

  #right {
    float: unset;
    display: block;
    width: 50%;
    margin-left: 50px;
  }
}
