*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-width: 1000px;
}


.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: #000;
    color: white;
    height: 50px;
    align-items: center;
    width: 100%;
    padding: 0 12%;
    position: fixed;
    z-index: 9999999;
}

.menuItems{
    padding: 10px;
    
}

.menuItems a{
    color: white;
    text-decoration: none;
}

.body1{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 50px;
    height: 150px;
    background-color: #c6bfbf;
    padding: 0 10%;
    justify-content: center;
}

#abbr{
    
    z-index: 9999999;
}

.body2{
    display: flex;
    padding: 0 10%;
    column-gap: 100px;
    margin-top: 10px;
}

footer{
    display: flex;
    margin: auto;
    flex-direction: row;
    height: 50px;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0%;
    background-color: #0b4d14;
    padding: 0 12%;
}

.leftFooter{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 10px;
}

.leftFooter a{
    color: white;
    text-decoration: none;
}

.rightFooter{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 60%;
}

.rightFooter a{
    color: white;
    text-decoration: none;
}

.leftFooterItems{
    margin-right: 20px;
}

.rightFooterItems{
    margin-right: 20px;
}