* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}


.outline {
    padding: 1%;
}
main {
    display: flex;
    /* flex-direction: column; */
    margin: 0 auto;
    /* width: 100vw;
    height: 100vh; */
    justify-content: center;
    /* padding: 1%; */
}


 
.blog {
    display: flex;
    flex-direction: column;
    /* padding: 2%; */
    margin: 1.5%;

}

.blog_sectionone, .blog_sectiontwo {
    height: 40%;
    width: 40vw;
    background: white;
    padding: 2%;
    margin: 2% 1%;
    border: 1px solid lightgrey;
    position: relative;
}

.blog_sectionone:hover, .blog_sectiontwo:hover {
    border: 2px solid lightgreen;
    
}

p {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
}

.blog_sectionone h3 {
    margin-bottom: 2%;
    color: blue;
    font-family: 'Open Sans', sans-serif;
}

.blog_sectiontwo h3 {
    color: green;
    margin-bottom: 2%;
    font-family: 'Open Sans', sans-serif;
}

.blog_sectionone a, .blog_sectiontwo a {
    position: absolute;
    bottom: 5%;
}


.grid {
    display: grid;
    margin-bottom: 10%;
}



@media (max-width: 600px) {

    main {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        /* width: 100vw;
        height: 100vh; */
        justify-content: center;
        /* padding: 1%; */
    }
    
     
    .blog {
        display: flex;
        /* justify-content: center; */
        /* flex-direction: column; */
        /* padding: 2%; */
        margin: 1% auto;
    
    }
    
    .blog_sectionone, .blog_sectiontwo {
        height: 40%;
        width: 80vw;
        background: white;
        padding: 2%;
        margin: 2% 1%;
        border: 1px solid lightgrey;
        position: relative;
    }
    
    p {
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: 100;
    }
    
    .blog_sectionone h3 {
        margin-bottom: 2%;
        color: blue;
        font-family: 'Open Sans', sans-serif;
    }
    
    .blog_sectiontwo h3 {
        color: green;
        margin-bottom: 2%;
        font-family: 'Open Sans', sans-serif;
    }
    
    .blog_sectionone a, .blog_sectiontwo a {
        position: absolute;
        bottom: 5%;
    }
    
    .blog_sectionone div, .blog_sectiontwo div {
        margin-bottom: 10%;
    }
    
    .grid {
        display: grid;
    }
}