
.nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.navSubscribe{
    color: gray;
    padding-left: 50px;
    font-size: smaller;

}
.fas{
    padding-right: 50px;
    color: gray;
}

.navTitle{
    color: black;
    font-size: xx-large;
    font-weight: bold;
}

@media only screen and (max-width: 600px){
    .nav{ width: 100%;
    }
    .navTitle{
        font-size:100%;
    }

}

@media only screen and (min-width: 768px) {
    .nav{ width: 100%;
    }
    .navTitle{
        font-size:100%;
    }

}