/* footer styling */
.blog-footer {
  text-align: center;
  width: 100%;
  padding: 30px;
  margin-bottom: 0;
  bottom: 0;
  background-color: rgb(236, 236, 236);
  border-top: 1px solid rgb(214, 214, 214);
}
footer p,
footer a {
  font-size: 12px;
}
footer p {
  color: grey;
}
.blog-footer a {
  color: rgb(8, 154, 252);
}
