/* responsive */

@media (max-width: 745px) {
  .navbar-container {
    padding: 80px 40px 20px 40px;
  }
  .navbar-container .search-field input {
    width: 200px;
  }
  .blog-container {
    /* flex-direction: column; */
    margin: 0 50px 0 50px;
  }
  .blog-card {
    width: 290px;
  }
}
@media (max-width: 670px) {
  .blog-container {
    flex-direction: column;
  }
  .navbar-container .search-field input {
    display: none;
  }
  .navbar-container i {
    font-size: 16px;
  }
  .blog-card {
    width: 380px;
  }
}
